.ScoreBorder {
  display: flex;
  flex-direction: column;
  outline: 5px solid rgb(255, 255, 255);
  width: 30%;
  height: 30%;
  text-align: center;
  justify-content: center;
  gap: 30px;
  font-size: 30px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
}

#replaybutton {
  width: 30%;
  color: rgb(95, 30, 30);
  font-weight: bolder;
  font-size: 20px;
}
